body {
    color: #4f4f4f;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#keret {
    width: 1125px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
    padding: 0px;
    background-color: white;
}

#fejlec {
    width: 1125px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    background-image: url("../kepek/omg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#torzs {
    width: 1125px;
    margin: 0px;
    padding: 0px;
}

#cikk {
    width: 720px;
    float: left;
    margin: 0px;
    padding: 20px;
    background-color: white;
}

#kommentek {
    float: right;
    width: 300px;
    height: 1300px;
    margin: 0px;
    padding: 20px;
    background-color: #efefef;
}

.komment {
    width: 280px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
    background-color: white;
}

#lablec {
    clear: both;
    color: #808080;
    width: 1085px;
    margin: 0px;
    padding: 20px;
    background-color: #efefef;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #333333;
}

h2 {
    font-size: 24px;
    color: #f15d22;
}

img {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #f15d22;
    font-weight: bold;
}

a:hover {
    color: #a0a0a0;
}